body{
    margin: 0;
    padding: 0;
    background-color: #35343434;
    background-size: cover;
    cursor: default;
  }

  .topnav a {
    height: max-content;
    color: #ffffff;
    text-align: center;
    padding: 14px 46px;
    text-decoration: none;
    font-size: 29px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
    h1{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-size: 25px;
    font-family: cursive;
}