body{
   background-color: #35343434;
}
.topnav a {
  position: relative;
  left: 40%;
  height: max-content;
  color: #000000;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 29px;
}

.topnav a:hover {
  background-color: #ddd;
}

.forum{
    font-size: 21px;
}
input[type="submit"] {
    font-size: 20px;    
    padding: 5px 20px;
    background-color: #a0a0a0;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #c0b627;
  }
  h1{
    font-size:48px ;
    text-align: center;
  }
  .paragraficontatti{
    font-size: 24px;
    text-align: center;
  }
  #lucio{
    background-color: rgba(0, 0, 0, 0.301);
    padding:10px;
    display: inline-block;
  }
  #mario{
    background-color: rgba(0, 0, 0, 0.301);
    padding:10px;
    display: inline-block;
  }
  #pasquale{
    background-color: rgba(0, 0, 0, 0.301);
    padding:10px;
    display: inline-block;
  }